
    <!DOCTYPE html>
    <html>
    <head>
    	<meta charset=utf-8 />
    	<meta name="description" content="Gallery of photos for modern cpatain bed project">
    	<title>A simple gallery for modern captain bed project</title>
        <link type="text/css" rel="stylesheet" href="../../js/lightGallery/src/css/lightGallery.css" /> 
    	<link rel="stylesheet" media="screen" href="../../gallery.css" />
    	<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
     
    </head>
    <body>
        <script
    			  src="https://code.jquery.com/jquery-3.2.1.min.js"
    			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    			  crossorigin="anonymous"></script>
     
        <script src="../../js/lightGallery/src/js/lightgallery.js"></script>
    	<script type="text/javascript">
        $(document).ready(function() {
            $("#lightgallery").lightGallery({
    			selector: '.galleryItem'
    		});		
        });
    
    	</script>
    	   
        <div class="header">
        	<h1>Gallery</h1>
        	Basic pictures of the project.</p>
        </div>
    	
    	<div class="container" id="lightgallery"> 
    
    </div>
    	
    </body>
    </html>
    